body {
	background: #ebeaea;
	margin: 0;
	padding: 0;
}

#banner {
	width: 100%;
}

h1 {
	font-family: 'Bungee Spice', cursive;
	text-align: center;
}

.textos {
	background: rgb(252, 249, 249);
}

p {
	text-align: center;
}


